<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Willcome to Aisling Bai's Homepage</title>
    <link href="http://7xir0j.com1.z0.glb.clouddn.com/static/css/yue.css" type="text/css" rel="stylesheet">
     <link href="http://7xir0j.com1.z0.glb.clouddn.com/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="show-image">
       <div class="bg-photo">
           <img src="http://7xir0j.com1.z0.glb.clouddn.com/static/images/1.png">
        </div>
        <nav class="navbar">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">我的主页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a class='s-set' href="#introduction">个人简介</a></li>
                <li><a class='s-set' href="#">个人学习</a></li>
                <li><a class='s-set' href="#">实习经历</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

    </div>
    <div class="it">
        <h1 class='col-md-2' id='introduction'>个人简介</h1>
        <ul class="col-md-9 col-md-offset-1">
            <li class="li-style">姓名： 白娟娟</li>
            <li class="li-style">英文名字：Aisling</li>
             <li class="li-style">职业：学生</li>
             <li class="li-style">学历：本科再读</li>
            <li class="li-style">学校：上海工程技术大学</li>
            <li class="li-style">专业：计算机科学与技术</li>
            <li class="li-style">邮箱：615778857@qq.com</li>
            <li class="li-style">地址：上海市松江大学城</li>
        </ul>
    </div>
</body>
</html>